[submodule "includes/algocpp/string"]
	path = includes/algocpp/string
	url = https://github.com/algocpp/string.git
[submodule "includes/algocpp/os"]
	path = includes/algocpp/os
	url = https://github.com/algocpp/os.git
[submodule "includes/algocpp/type"]
	path = includes/algocpp/type
	url = https://github.com/algocpp/type.git
[submodule "includes/algocpp/math"]
	path = includes/algocpp/math
	url = https://github.com/algocpp/math.git
[submodule "includes/algocpp/io"]
	path = includes/algocpp/io
	url = https://github.com/algocpp/io.git
[submodule "includes/algocpp/array"]
	path = includes/algocpp/array
	url = https://github.com/algocpp/array.git
[submodule "includes/algocpp/file"]
	path = includes/algocpp/file
	url = https://github.com/algocpp/file.git
[submodule "includes/algocpp/exception"]
	path = includes/algocpp/exception
	url = https://github.com/algocpp/exception.git
[submodule "includes/algocpp/json"]
	path = includes/algocpp/json
	url = https://github.com/algocpp/json
[submodule "includes/algocpp/csv"]
	path = includes/algocpp/csv
	url = https://github.com/algocpp/csv.git
[submodule "includes/algocpp/algorithm"]
	path = includes/algocpp/algorithm
	url = https://github.com/algocpp/algorithm.git
