[submodule "string"]
	path = string
	url = https://github.com/algocpp/string.git
[submodule "math"]
	path = math
	url = https://github.com/algocpp/math.git
[submodule "type"]
	path = type
	url = https://github.com/algocpp/type.git
