[submodule "string"]
	path = string
	url = https://github.com/algocpp/string.git
[submodule "math"]
	path = math
	url = https://github.com/algocpp/math.git
[submodule "type"]
	path = type
	url = https://github.com/algocpp/type.git
[submodule "io"]
	path = io
	url = https://github.com/algocpp/io.git
[submodule "os"]
	path = os
	url = https://github.com/algocpp/os.git
[submodule "array"]
	path = array
	url = https://github.com/algocpp/array
